* {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #A38D6D;
  background: #000;
}
#root {
  display: grid;
}
